<div class="row mt-5">
  <div *ngIf="tipoLista==='temporadas'" class="col text-center">
    <h3>Temporadas de Pokemón</h3>
    <img src="../../../assets/temporadas.jpg" class="img-fluid mb-5" alt="..." />
  </div>
  <div *ngIf="tipoLista==='tipos'" class="col text-center">
    <h3>Evoluciones de Pokemón</h3>
    <img src="../../../assets/evoluciones.jpg" class="img-fluid mb-5" alt="..." />
  </div>
  <div *ngIf="tipoLista==='evoluciones'" class="col text-center">
    <h3>Tipos de Pokemón</h3>
    <img src="../../../assets/tipos.png" class="img-fluid mb-5" alt="..." />
  </div>
</div>

